*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.container {
    max-width: 1400px;
    margin: 0 auto;
}

img{
    max-width: 100%;
}

.card-item__img--circle{
    border-radius: 50%;
    overflow: hidden;
}

.card-item__img--sheet{
    border-top-left-radius: 50%;
    overflow: hidden;
    border-bottom-right-radius: 50%;
}

.card-item__img{
    height: 243px;
    width: 100%;
}

.icon-btn__svg{
    cursor: pointer;
    width: 173px;
    height: 23px;
    fill: #A2ACC7;
}
.icon-btn__svg:hover{
    fill: #7884A5;
}

.icon-btn__line{
    width: 172px;
    height: 3px;
}

.slider__menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
}

.card-item{
    display: flex;
    flex-direction: column;
}

.card-item__name{
    color: #525C7A;
    font-size: 28px;
    margin-top: 30px;
}

.card-item__date{
    font-size: 18px;
    color: #A2ACC7;
    margin-top: 16px;
}
.swiper-wrapper > .slide-one{
    width: 344px;
}

.swiper-wrapper > .slide-two{
    width: 688px;
}

.card-item__content{
    display: flex;
    flex-direction: column;
}

.title{
    font-size: 72px;
    color: #7884A5;
    font-weight: 700;
}

.subtitle{
    font-size: 24px;
    color: #292E3D;
    font-weight: 400;
    line-height: 32px;
}

.main__title{
    margin-bottom: 54px;
}

.main__subtitle{
    margin-bottom: 50px;
}

@media (max-width: 1025px){
    .title{
        font-size: 50px;
    }
    .swiper-wrapper > .slide-one{
        width: 244px;
    }
    
    .swiper-wrapper > .slide-two{
        width: 488px;
    }

    .card-item__name{
        font-size: 20px;
    }
    .card-item__date{
        font-size: 16px;
    }
    .subtitle{
        font-size: 18px;
        line-height: 22px;
    }

    .main__title{
        margin-bottom: 30px;
    }
    
    .main__subtitle{
        margin-bottom: 25px;
    }
}

@media (max-width: 426px){
    .swiper-wrapper > .slide-one{
        width: 200px;
    }
    
    .swiper-wrapper > .slide-two{
        width: 400px;
    }
    .icon-btn__line{
        width: 50px;
    }
    .title{
        font-size: 30px;
    }
}